body {
    background-color: #cccccc;
    color: #2B2A2A;
}

h1 {

    font-size: 35pt;
    text-align: center;
    font-family: 'Lobster', cursive !important;
}

h3 {

    font-size: 20pt;
    font-family: 'Lobster', cursive !important;
}

.mepic {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

metext {

    text-align: center;
}